/* app.css */

* {
    box-shadow: inset 0px 0px 1px rgba(255,0,0,0.5);
}

.margin{
    margin-bottom: 10%;
}
body a {
    text-decoration: none;
}

.navegacao {
    background-color: rgb(26, 218, 243);
    color: black;
}

.rodape {
    background-color: rgb(63, 138, 53);
    color: white;
}

.nav-item {
    padding: 5px;
    color: #022405;
    font-weight: bold;
    margin: 0px 10px;
}

.nav-item:hover {
    background-color: rgb(17, 134, 150);
    color: #022405;
}

/* * {
    margin: 0;
} */

 /* .body {
    height: 100vh;
    display: flex;
    flex-direction: column;
     background: #eee; 
    align-items: center;
    justify-content: center;
    font-family: "Roboto Thin", sans-serif;
}  */

h4 {
    margin: 48px;
    font-size: 32px;
    text-transform: lowercase;
    letter-spacing: 8px;
    text-align: center;
}

/* .radio-container {
    font-size: 18px;
    padding: 8px;
} */

 /* input[type="radio"] {
     display: none; 
}  */

 .label_forma_juridica {
    position: relative;
    cursor: pointer;
     
    padding-right: 20px;
} 

.label_tipo_contabilidade {
    position: relative;
    cursor: pointer;
     
    padding-right: 20px;
} 


.label_forma_juridica:nth-last-child(1) {
    padding-right: 0;
}

.label_tipo_contabilidade:nth-last-child(1) {
    padding-right: 0;
}


/* .label_forma_juridica::before {
    content: "";
    border: 2px solid #222;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -8px 20px;
    margin-left: 0;
    border-radius: 50%;
} */

/* .label_forma_juridica::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
     background: rgba(34, 34, 34, 0); 
    left: 7px;
    top: 12px;
    margin: -8px 20px;
    margin-left: 0;
    border-radius: 50%;

    transition: all 0.4s;
} 
*/

input[type="radio"]:checked + .label_forma_juridica::after {
    background: rgba(15, 15, 15, 0.603);
}

.btn-100{ min-width: 100px !important; }
.btn-125{ min-width: 125px !important; }
.btn-150{ min-width: 150px !important; }
.btn-175{ min-width: 175px !important; }